#card{
    text-align: center;
    background-color: rgb(29, 29, 29);
    height: auto;
    width: 300px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 2px solid black;
    color: white;
}


#soma{
    background-color: #333333;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    color: white;

}
#subtracao{
    background-color: #333333;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    color: white;
}
#multiplicacao{
    background-color: #333333;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    color: white;
}
#divisao{
    background-color: #333333;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    color: white;
}
#numero1{
    background-color: #333333;
    height: 50px;
    border-radius: 15px;
    color: white;
}
#numero2{
    background-color: #333333;
    height: 50px;
    border-radius: 15px;
    color: white;

}

#resultados{
    background-color: #333333;
    border-radius: 10px;
    margin: 0 auto;
    width: 100px;
    list-style-type: none;
}